.full-height {
  height: 100%;
}

.main-page{
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  /* height: calc(100vh - 100px - 60px); */
  /* height: 100vh; */
  /* height: 100%; */
  align-items: center;
}

.main-playlist-player {
  justify-content: center;
  align-items: center;

  margin: 0;
  height: 100px;
  width: 100vw;

  box-shadow: 0px 10px 20px 2px #a0a0a0;
  background-color: white;

  position: fixed;
  bottom: 0;
  left: 0;
}

/* width */
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);
  border-radius: 10px;
} */

