.playlist-card {
  padding: 0.5rem;
}

.playlist-title {
  justify-content: center;
}

.playlist-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.playlist-active {
  padding: 0.5rem;
  outline: 5px auto -webkit-focus-ring-color;
  outline-color: black;
}

.image-cropper{
  overflow: hidden;
  width: 12vw;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play-img{
  width: 150%;
  height: 150%;
}