.media-controls{
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 0.5rem;
}

.media-player{
    width: 80%;
}

.media-button{
    /* align-items: center; */
    /* height: 30px; */
    font-size: small;
    margin-right: 5px;
    margin-left: 5px;
}

.play-pause{
    justify-content: center;
}

.volume-slider{
    padding: 2rem;
}

.center-cols{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}