.media-controls{
    flex-direction: column;
    align-items: center;
    width: 65vw;
}

.media-button{
    /* align-items: center; */
    /* height: 30px; */
    font-size: small;
    margin-right: 5px;
    margin-left: 5px;
}

.seek-and-volume {
    /* width: 65vw; */
}

.play-pause{
    justify-content: center;
}