.song-menu {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.playlists-row{
  padding: 1.5rem;
}

.playlists-group{
  flex-direction: column;
  flex-wrap: nowrap;
}

