.contain{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.stuff{
    box-shadow: 0px 10px 20px 2px #cfcfcf;
    background-color: tomato;
    width: 10vw;
}

.hide-player{
    height: 0;
    width: 0;
}


.scroll-button{
    font-size: small;
    position: fixed;
    right: 20px;
    bottom: 115px;
}

.parallax-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    width:  30vw;
    border-radius: 50%;
    background-color: rgb(202, 202, 202);
}

.relax-cont{
    /* margin: 0px;
    padding: 0;
     */
}

.center-parallax{
    display: flex;
    justify-content: center;
    align-items: center;
}