.contain {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parallax-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  background-color: rgb(202, 202, 202);
}

.center-parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.parallax-and-playlist {
  width: 100%;
}

.song-menu-but {
  color: white;
}

.song-menu-link {
  padding: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #1b1b1b;
}
.contain-song-menu {
  min-height: 150vh;
}
