.contain{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stuff{
    box-shadow: 0px 10px 20px 2px #cfcfcf;
    background-color: tomato;
    width: 10vw;
}



.my-modal .modal-dialog{
    width: 95%;
    max-width: none;
}

.my-modal .modal-content{
    border-radius: .8rem;
}